Icons including favicon, drug, and gene, made by <a href="http://www.freepik.com/">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>

<br>

Logo is borrowed from <a href="https://www.shutterstock.com/tr/image-vector/steamship-vector-ferry-525513694">shutterstock</a> 

<br>

For named entity recognition and normalization, we have used <a href="https://github.com/dmis-lab/bern">BERN tool</a>

<br>

Some parts of the code borrowed from <a href="https://sysadmins.co.za/scraping-websites-with-python-and-beautiful-soup-and-ingesting-into-elasticsearch/"> this blog post </a>